<h1> All Libraries </h1>

<ul>
  <section id = "ordered-libraries" >
    <p><% @libraries.each do |library| %>
      <li><%= library.name %>
      Created: <%= library.created_at.strftime("%A, %B %-d, %Y") %></li>
      <% end %>
    </p>
  </section>
</ul>

<h3><%= link_to "New Library", '/libraries/new' %></h3>