<h1> Members List </h1>

<%= link_to "New member sign-up", "/members/new" %>

<% @members.each do |member| %>
  <h2><%= link_to "#{member.name}", "/members/#{member.id}" %></h2>
  <p> created at:<%= member.created_at %></p>
<% end %>
